GameInterface
{
	container Panel(GreenBackground)
	{
		material     Core/StatsBlockCenter
		metrics_mode pixels
		top          0
		left         0
		width        1024
		height       60

		element Panel(HealthBar)
		{
			material     GameInterface/HealthBar
			metrics_mode pixels
			top          12
			left         12
			width        150
			height       12
		}
		
		element Panel(ShieldBar)
		{
			material     GameInterface/ShieldBar
			metrics_mode pixels
			top          24
			left         12
			width        150
			height       12
		}
		
		element TextArea(ScoreText)
		{
			metrics_mode  pixels
			left          512
			top           6
			font_name     BlueHighway
			char_height   30
			alignment     center
			colour        1 0 0
		}
		
		element TextArea(TimeText)
		{
			
			metrics_mode  pixels
			left          512
			top           6
			font_name     BlueHighway
			char_height   30
			alignment     center
			colour        1 0 0		
		
		}
		
		element TextArea(GameOver)
		{
			
			metrics_mode  pixels
			top           0
			left		  0
			font_name     BlueHighway
			char_height   60
			alignment     center
			colour        1 0 0		
		
		)
	}
}